
@{
    ViewBag.Title = "TEXAS_Coaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>


    .animate {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .info-card {
        width: 100%;
        border: 1px solid rgb(215, 215, 215);
        position: relative;
        font-family: 'Lato', sans-serif;
        margin-bottom: 20px;
        overflow: hidden;
    }

        .info-card > img {
            width: 100px;
            margin-bottom: 60px;
        }

        .info-card .info-card-details,
        .info-card .info-card-details .info-card-header {
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: -100%;
            left: 0;
            padding: 0 15px;
            background: rgb(255, 255, 255);
            text-align: center;
        }

            .info-card .info-card-details::-webkit-scrollbar {
                width: 8px;
            }

            .info-card .info-card-details::-webkit-scrollbar-button {
                width: 8px;
                height: 0px;
            }

            .info-card .info-card-details::-webkit-scrollbar-track {
                background: transparent;
            }

            .info-card .info-card-details::-webkit-scrollbar-thumb {
                background: rgb(160, 160, 160);
            }

                .info-card .info-card-details::-webkit-scrollbar-thumb:hover {
                    background: rgb(130, 130, 130);
                }

            .info-card .info-card-details .info-card-header {
                height: auto;
                bottom: 100%;
                padding: 10px 5px;
            }

        .info-card:hover .info-card-details {
            bottom: 0px;
            overflow: auto;
            padding-bottom: 25px;
        }

            .info-card:hover .info-card-details .info-card-header {
                position: relative;
                bottom: 0px;
                padding-top: 45px;
                padding-bottom: 25px;
            }

        .info-card .info-card-details .info-card-header h1,
        .info-card .info-card-details .info-card-header h3 {
            color: #C71585;
            font-size: 22px;
            font-weight: 900;
            text-transform: uppercase;
            margin: 0 !important;
            padding: 0 !important;
        }

        .info-card .info-card-details .info-card-header h3 {
            color: #C71585;
            font-size: 15px;
            font-weight: 400;
            margin-top: 5px;
        }

        .info-card .info-card-details .info-card-detail .social {
            list-style: none;
            padding: 0px;
            margin-top: 25px;
            text-align: center;
        }

            .info-card .info-card-details .info-card-detail .social a {
                position: relative;
                display: inline-block;
                min-width: 40px;
                padding: 10px 0px;
                margin: 0px 5px;
                overflow: hidden;
                text-align: center;
                background-color: rgb(215, 215, 215);
                border-radius: 40px;
            }
</style>

<h2>
    <span style="color:#C71585">
        Texas Coaster
    </span>
</h2>

<div class="container">
    <div class="row">
        <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]">
            <div class="[ info-card ]">
                @if (ViewBag.ut_Status == 2)
                {
                    <img style="width: 100%" src=@Url.Content("~/Media/Down-for-Maintenance.png") alt="..." />
                }
                else
                {
                    <img style="width: 100%" src=@Url.Content("~/Media/UnpluggedToaster.jpg") alt="..." />
                }
                    <div class="[ info-card-details ] animate">
                        <div class="[ info-card-header ]">
                            <h1> Unplugged Toaster </h1>

                        </div>
                        <div class="[ info-card-detail ]">
                            <!-- Description -->
                            <p>Ride Location: North District</p>
                            <br />
                            <p>Ride Capacity: 40</p>
                            <br />
                            <p>You may waste a lot of time thinking that this ride has started</p>


                        </div>
                    </div>
                </div>
        </div>
        <div class="[ col-sm-6 col-md-4 ]">
            <div class="[ info-card ]">
                @if (ViewBag.tt_Status == 2)
                {
                    <img style="width: 100%" src=@Url.Content("~/Media/Down-for-Maintenance.png") alt="..." />
                }
                else
                {
                    <img style="width: 100%" src=@Url.Content("~/Media/TexasTwister.jpg") alt="..." />
                }
                    <div class="[ info-card-details ] animate">
                        <div class="[ info-card-header ]">
                            <h1>Texas Twister </h1>
                        </div>
                        <div class="[ info-card-detail ]">
                            <!-- Description -->
                            <p>Ride Location: North District</p>
                            <br />
                            <p>Ride Capacity: 45</p>
                            <br />
                            <p>Rollercoaster</p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]">
            <div class="[ info-card ]">
                @if (ViewBag.ab_Status == 2)
                {
                    <img style="width: 100%" src=@Url.Content("~/Media/Down-for-Maintenance.png") alt="..." />
                }
                else
                {
                    <img style="width: 100%" src=@Url.Content("~/Media/AngryBubble.jpg") alt="..." />
                }
                    <div class="[ info-card-details ] animate">
                        <div class="[ info-card-header ]">
                            <h1> Angry Bubble </h1>
                        </div>
                        <div class="[ info-card-detail ]">
                            <!-- Description -->
                            <p>Ride Location: North District</p>
                            <br />
                            <p>Ride Capacity: 64</p>
                            <br />
                            <p>Try saying "bubbles" in an angry voice.</p>
                        </div>
                    </div>
                </div>
        </div>

    </div>
</div>
