
@{
    ViewBag.Title = "DrinkS";
    Layout = "~/Views/Shared/_LayoutS.cshtml";
}



<sytle>


</sytle>

<h2>
    <span style="color:#FFA500">
        Our Drinks
    </span>
</h2>
<section class="sections random-product">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">

                        <img class="card-img-top " style="width: 100%" src=@Url.Content("~/Media/BottleWater.jpg") alt="..." />

                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">Bottled Water</a>
                            </h5>
                        </div>
                        <div class="card-footer">

                            <div class="float-left">
                                <a href="#" class="text-danger">2.00 Dollars</a>

                            </div>
                        </div>
                    </div>
                </div><!--.col-->

                <div class="col-md-4">
                    <div class="card">

                        <img class="card-img-top " style="width: 100%" src=@Url.Content("~/Media/Soda.jpg") alt="..." />

                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">Soda</a>
                            </h5>
                        </div>
                        <div class="card-footer">

                            <div class="float-left">
                                <a href="#" class="text-danger">2.00 Dollars</a>

                            </div>
                        </div>
                    </div>
                </div><!--.col-->

                <div class="col-md-4">
                    <div class="card">

                        <img class="card-img-top " style="width: 100%" src=@Url.Content("~/Media/SonKone.jpg") alt="..." />

                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">Son-Kone</a>
                            </h5>
                        </div>
                        <div class="card-footer">

                            <div class="float-left">
                                <a href="#" class="text-danger">2.50 Dollars</a>

                            </div>
                        </div>
                    </div>
                </div><!--.col-->

            </div><!--.container-->
        </div><!--.container-fluid-->
</section>



