
@{
    ViewBag.Title = "Food";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<sytle>
  
    
</sytle>

<h2>
    <span style="color:#FFA500">
        Our Foods
    </span>
</h2>
<section class="sections random-product">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                
                <div class="col-md-4">
                    <div class="card">

                        <img class="card-img-top " style="width: 100%" src=@Url.Content("~/Media/CarmelApple.jpg") alt="..." />

                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">Carmel Apple</a>
                            </h5>
                        </div>
                        <div class="card-footer">

                            <div class="float-left">
                                <a href="#" class="text-danger">4.00 Dollars</a>

                            </div>
                        </div>
                    </div>
                </div><!--.col-->
                <div class="col-md-4">
                    <div class="card">

                        <img class="card-img-top " style="width: 100%" src=@Url.Content("~/Media/FunnelCakes.jpg") alt="..." />

                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">Funnel Cakes</a>
                            </h5>
                        </div>
                        <div class="card-footer">

                            <div class="float-left">
                                <a href="#" class="text-danger">6.00 Dollars</a>

                            </div>
                        </div>
                    </div>
                </div><!--.col-->
                <div class="col-md-4">
                    <div class="card">

                        <img class="card-img-top " style="width: 100%" src=@Url.Content("~/Media/CottonCandy.jpg") alt="..." />

                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">Cotton Candy</a>
                            </h5>
                        </div>
                        <div class="card-footer">

                            <div class="float-left">
                                <a href="#" class="text-danger">3.00 Dollars</a>

                            </div>
                        </div>
                    </div>
                </div><!--.col-->
                <div class="col-md-4">
                    <div class="card">

                        <img class="card-img-top " style="width: 100%" src=@Url.Content("~/Media/Nachos.jpg") alt="..." />

                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">Nachos </a>
                            </h5>
                        </div>
                        <div class="card-footer">

                            <div class="float-left">
                                <a href="#" class="text-danger">5.00 Dollars</a>

                            </div>
                        </div>
                    </div>
                </div><!--.col-->
                <div class="col-md-4">
                    <div class="card">

                        <img class="card-img-top " style="width: 100%" src=@Url.Content("~/Media/Pizza.jpg") alt="..." />

                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">Pizza</a>
                            </h5>
                        </div>
                        <div class="card-footer">

                            <div class="float-left">
                                <a href="#" class="text-danger">5.50 Dollars</a>

                            </div>
                        </div>
                    </div>
                </div><!--.col-->
                <div class="col-md-4">
                    <div class="card">

                        <img class="card-img-top " style="width: 100%" src=@Url.Content("~/Media/Popcorn.jpg") alt="..." />

                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">Popcorn</a>
                            </h5>
                        </div>
                        <div class="card-footer">

                            <div class="float-left">
                                <a href="#" class="text-danger">4.00 Dollars</a>

                            </div>
                        </div>
                    </div>
                </div><!--.col-->
                
            </div><!--.row-->
        </div><!--.container-->
    </div><!--.container-fluid-->
</section>

