@{
    ViewBag.Title = "ManagerHub";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Manager Home</h2>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-4">
                <div class="card">
                    <img src=@Url.Content("~/Media/datacenter.jpg") alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">Data Center</h3>
                        <p class="card-text">For your management decisions</p>
                        @Html.ActionLink("Access", "Index", "Data", null, new { @class = "btn btn-lg btn-outline-success" })
                    </div>
                </div>
            </div>


            <div class="col-xl-4">
                <div class="card h-100">
                    <img src=@Url.Content("~/Media/maintenance.jpg") alt="" class="card-img-top h-25">
                    <div class="card-body">
                        <h3 class="card-title">Maintenance</h3>
                        <p class="card-text">Unfinished Maintenance</p>
                        @Html.ActionLink("Check Here", "CurrentMaintenance", "Data", null, new { @class = "btn btn-lg btn-outline-success" })
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card h-100">
                    <img src=@Url.Content("~/Media/employees.jpg") alt="" class="card-img-top h-25">
                    <div class="card-body">
                        <h3 class="card-title">Employee</h3>
                        <p class="card-text">Add new or list all current employees</p>
                        @Html.ActionLink("Employee List", "Index", "ParkEmployees", null, new { @class = "btn btn-lg btn-outline-success" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
