
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .row-striped:nth-of-type(odd) {
        background-color: #efefef;
        border-left: 4px #000000 solid;
    }

    .row-striped:nth-of-type(even) {
        background-color: #ffffff;
        border-left: 4px #efefef solid;
    }

    .row-striped {
        padding: 15px 0;
    }
</style>



<h2>
    <span style="color:#008080">
        Event Calendar
    </span>
</h2>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="container">
    <div class="row row-striped">
        <div class="col-2 text-right">
            <h1 class="display-4"><span class="badge badge-secondary">18</span></h1>
            <h2>April</h2>
        </div>
        <div class="col-10">
            <h3 class="text-uppercase"><strong>Lakeside Chill Cocktail Party</strong></h3>
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Thursday</li>
                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> North District</li>
            </ul>
            <p>Enjoy the lakeside views of fountains and atmospheric lighting, the Lakeside Chill offers a multi-sensorry feast along the lagoon. An ideal chill out venue for corporate functions
            </p>
        </div>
    </div>
    <div class="row row-striped">
        <div class="col-2 text-right">
            <h1 class="display-4"><span class="badge badge-secondary">19</span></h1>
            <h2>April</h2>
        </div>
        <div class="col-10">
            <h3 class="text-uppercase"><strong>Sumptuous Dinner at the Neptune’s Restaurant
            </strong></h3>
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Friday</li>
                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:30 PM - 4:00 PM</li>
                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Neptune’s Restaurant</li>
            </ul>
            <p>Spend an unforgettable evening at  aquarium restaurant, where guests dine amidst stunning views of the underwater world
                .</p>
        </div>
    </div>
    <div class="row row-striped">
        <div class="col-2 text-right">
            <h1 class="display-4"><span class="badge badge-secondary">20</span></h1>
            <h2>April</h2>
        </div>
        <div class="col-10">
            <h3 class="text-uppercase"><strong>One-day Package for Company Outing</strong></h3>
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Saturday</li>
                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> All Day</li>
                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Park</li>
            </ul>
            <p>We can create great events for groups of any size . Contact us today and let us help you plan the perfect company trip</p>
        </div>
    </div>
    <div class="row row-striped">
        <div class="col-2 text-right">
            <h1 class="display-4"><span class="badge badge-secondary">21</span></h1>
            <h2>April</h2>
        </div>
        <div class="col-10">
            <h3 class="text-uppercase"><strong>Amazing Cougar Theatre
            </strong></h3>
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Sunday</li>
                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 3:30 PM - 4:00 PM</li>
                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> South District</li>
            </ul>
            <p>You will see how awsome UH cougar is</p>
        </div>
    </div>
    
</div>
