
@{
    ViewBag.Title = "ParkMapS";
    Layout = "~/Views/Shared/_LayoutS.cshtml";
}


<h2>
    <span style="color:#008080">Team 5 Park Map
    </span>
</h2>

 

<iframe src="https://snazzymaps.com/embed/148340" width="1200" height="500" style="border:0;"></iframe>

<h2>
    <span style="color:#B645D7">
        Purple:North District
    </span>
    <br/>
    <span style="color:#F2782B">
        Red:West District
    </span>
    <br/>
    <span style="color:#29DBEC">
        Light Blue:Central District
    </span>
    <br/>
    <span style="color:#18C04A">
        Green:South District
    </span>
    <br/>
    <span style="color:#F3E800">
        Yello:East District
    </span>
</h2>



