
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @Html.ActionLink("Unfinished Maintenance", "CurrentMaintenance")
</div>
<div>
    @Html.ActionLink("Data Report", "MaintenanceReport")
</div>
<div>
    @Html.ActionLink("Employee List", "Index", "ParkEmployees")
</div>
<div>
    @Html.ActionLink("Admissions Report", "AdmissionsReport")
</div>
