
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ManagerE_Layout.cshtml";
}

<h2>Index</h2>



@*content*@
<div class="container">
    <div class="row my-5 align-items-center">
        <div class="col-sm-6 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src=@Url.Content("~/Media/admissionsReport.jpg") class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Admissions Report</h5>
                    <p class="card-text">Some Admissions crap here</p>
                    @Html.ActionLink("Admissions Report", "AdmissionsReport", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src=@Url.Content("~/Media/maintReport.jpg") class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Maintenance Report</h5>
                    <p class="card-text">Some maintenance crap here</p>
                    @Html.ActionLink("Maintenance Report", "MaintenanceReport", null, new { @class = "btn btn-primary" })
                   



                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src=@Url.Content("~/Media/rideReport.jpg") class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">RideReport</h5>
                    <p class="card-text">Some ride crap here.</p>
                    
                        
                    
                </div>
            </div>
        </div>

    </div>
</div>



