
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ManagerE_Layout.cshtml";
}

<h2>Index</h2>
<div>
    @Html.ActionLink("Unfinished Maintenance", "CurrentMaintenance")
</div>
<div>
    @Html.ActionLink("Data Report", "MaintenanceReport")
</div>
<div>
    @Html.ActionLink("Employee List", "Index", "ParkEmployees")
</div>
