
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ManagerE_Layout.cshtml";
}

<h2>Data Center</h2>



@*content*@
<div class="container">
    <div class="row my-5 align-items-center">
        <div class="col-sm-6 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src=@Url.Content("~/Media/admissionsReport.jpg") class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Admissions Report</h5>
                    <p class="card-text">Get an overall report of admissions and can select specific months.</p>
                    @Html.ActionLink("Admissions Report", "AdmissionsReport", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src=@Url.Content("~/Media/maintReport.jpg") class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Maintenance Report</h5>
                    <p class="card-text">Get an overall report of maintenances with visual graphics. </p>
                    @Html.ActionLink("Maintenance Report", "MaintenanceReport", null, new { @class = "btn btn-primary" })
                   



                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src=@Url.Content("~/Media/rideReport.jpg") class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ride Report</h5>
                    <p class="card-text">Get an overall report on all rides and individual ride averages with visual graphics.</p>
                    @Html.ActionLink("Ride Report", "RideReport", null, new { @class = "btn btn-primary" })


                </div>
            </div>
        </div>
       

        <div class="col-sm-6 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src=@Url.Content("~/Media/Pizza.jpg") class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Concessions Report</h5>
                    <p class="card-text">Get an overall report on all concessions item</p>
               
                    @Html.ActionLink("Concessions Report", "ConcessionsReport", null, new { @class = "btn btn-primary" })



                </div>
            </div>
        </div>
        
        
        

    </div>
</div>

