
@{
    ViewBag.Title = "DepQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Would you like to add a family member?</h2>

@Html.ActionLink("Yes", "Create", "DependentPassHolders", null, new { @class = "btn btn-primary" })
@Html.ActionLink("No", "Index", "Home", null, new { @class = "btn btn-primary" })

