
@{
    ViewBag.Title = "DepQuestion2";
}


<h2>Would you like to add another family member?</h2>

@Html.ActionLink("Yes", "Create", "DependentPassHolders", null, new { @class = "btn btn-primary" })
@Html.ActionLink("No", "SPH_Profile", "Home", null, new { @class = "btn btn-primary" })

